.number{
    color:black;
    font-size: 165px;
    font-family: Arial;    
    font-weight: bolder;
}
.number1{
    color:red;
    font-size: 25px;
    font-family: 'Courier New';
    font-weight: 200;
}